@page "/fetchdata"
@using Client.Contract
@inject Client.Services.ISpaceXDataService service

<PageTitle>SpaceX rockets</PageTitle>

<h1>SpaceX rockets</h1>

<p>This component demonstrates fetching data from a REST API.</p>

@if (rockets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Active</th>
                <th>Name</th>
                <th>Stages</th>
                <th>SuccessRatePct</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rocket in rockets)
            {
                <tr>
                    <td>@rocket.Active</td>
                    <td>@rocket.Name</td>
                    <td>@rocket.Stages</td>
                    <td>@rocket.SuccessRatePct</td>
                    <td>@rocket.Type</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private RocketDTO[] rockets;

    protected override async Task OnInitializedAsync()
    {
        rockets = await service.GetAllRockets();
    }

}
